.bg{
 background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    height:698px;
    width: 1440px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}
nav ul li{
    list-style: none;
}
.logo{
    width: 99px;
    height: 51px;
    color: #4E47FF;
    font-weight:800;
    font-size: 34px;
}
.btn-1{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.btn-2{
    width: 174px;
    height: 48px;
     background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.bg-content{
    text-align: center;
    margin: 309px 267.5px 147.63px 267.5px;
}

.title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
    font-weight: bold;
    font-size: 65px;
    gap: 37px;
}
section{
    display: flex;
}
.btn-3{
     width: 174px;
    height: 48px;
     background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.sec-1{
    max-width: 1140px;
    max-height: 324px;
    margin: 116px 160px 116px 140px;
}
.content-title{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
    font-weight: bold;
    font-size: 42px;
}
.content-description{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
    margin-bottom: 23px;
}
.content-2{
    max-width:517px ;
    max-height: 203px;
}
.content-photo{
    width:403px ;
    height:328px;
    border-radius: 48px;
}
.main{
     margin: 116px 159px 137px 141px;
    background-color:#e6e4f7;
    padding: 80px;
    width: 1140px;
    height: 306px;
}
.content-title-1{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 38px;
    font-weight: bold;
    width: 856px;
    height: 45px;
    margin: 50px 142px 211px 142px;
}
.content-description-1{
    display: flex;
}
.description-list{
    display: flex;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
  font-style: normal;
  width: 180px;
  height: 121px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nav2{
    align-items: center;
    justify-content: space-between;
}
.sub-title{
    width: 120px;
    height: 24px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.banner-title{
    width: 1140px;
    height: 49px;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
}
    .star-icon{
        display: flex;
        text-align: center;
        
    }
    .form-title{
        width: 528px;
        height: 232px;
        color: black;font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
    font-weight: bold;
    font-size: 97px;
    }
    .form-er-jonno{
        max-width: 1140px;
        max-height: 632px;
    }
.form-er-jonno input[type="text"]{
    width: 497px;
    height: 70px;
    color: #D6DDED;
    background-color: white;
    display: block;
    gap: 10px;
    border-radius: 10px;
}
.form-er-jonno input[type="email"]{
    width: 497px;
    height: 70px;
    color: #D6DDED;
    background-color: white;
    display: block;
    gap: 10px;
    border-radius: 10px;
}
.form-er-jonno textarea{
    width: 497px;
    height: 135px;
    display: block;
    border-radius: 10px;
    gap: 10px;
}

.btn-4{
    width: 497px;
    height: 70px;
     background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    display: block;
    border-radius: 10px;
    gap: 10px;
}





    /* footer section */
   .sec-7{
    max-width:531px ;
    max-height:221px ;
   }
   footer{
    max-width:531px ;
    max-height:221px ;
   }
 .logo-1{
        width: 99px;
    height: 51px;
    color: #4E47FF;
    font-weight:800;
    font-size: 100px;
    text-align: center;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    }
.footer-description{
    width: 531px;
    height: 48px;
    color: #8987A1;
    margin: 8px 455px 147px 455px;
}
footer ul li{
    list-style: none;
}
footer ul{
    display: flex;
    justify-content: space-between;
    margin: 0 520px 103px;
    width: 401px;
    height: 24px;
}