.bg{
 background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    height:698px;
    width: 1440px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}
nav ul li{
    list-style: none;
}
.logo{
    width: 99px;
    height: 51px;
    color: #4E47FF;
    font-weight:800;
    font-size: 34px;
}
.btn-1{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.btn-2{
    width: 174px;
    height: 48px;
     background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.bg-content{
    text-align: center;
    margin: 309px 267.5px 147.63px 267.5px;
}

.title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
    font-weight: bold;
    font-size: 65px;
    gap: 37px;
}
section{
    display: flex;
}
.btn-3{
     width: 174px;
    height: 48px;
     background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.sec-1{
    max-width: 1140px;
    max-height: 324px;
    margin: 116px 160px 116px 140px;
}
.content-title{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
    font-weight: bold;
    font-size: 42px;
}
.content-description{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
    margin-bottom: 23px;
}
.content-2{
    max-width:517px ;
    max-height: 203px;
}
.content-photo{
    width:403px ;
    height:328px;
    border-radius: 48px;
}
    
